{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a href="/generate" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <em class="fas fa-download fa-sm text-white-50"></em> Generate Report</a>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Number of Call Trades Today</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_call_trades }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <em class="fas fa-calendar fa-2x text-gray-300"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Average Call Delta</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ average_call_delta }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <em class="fas fa-dollar-sign fa-2x text-gray-300"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Average Call Gamma
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ average_call_gamma }}</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <em class="fas fa-clipboard-list fa-2x text-gray-300"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Average Call Asking Price</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ average_call_ask }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <em class="fas fa-comments fa-2x text-gray-300"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Number of Put Trades Today</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_put_trades }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <em class="fas fa-calendar fa-2x text-gray-300"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Average Put Delta</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ average_put_delta }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <em class="fas fa-dollar-sign fa-2x text-gray-300"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Average Put Gamma
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ average_put_gamma }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <em class="fas fa-clipboard-list fa-2x text-gray-300"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Average Put Asking Price</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ average_put_ask }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <em class="fas fa-comments fa-2x text-gray-300"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->

                <div class="row">
                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Yesterday's Trades</h6>
                            </div>

                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie">
                                    <canvas id="yesterdayPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                    <span class="mr-2">
                                        <em class="fas fa-circle text-success"></em> Won - {{ yesterday_wins }}
                                    </span>
                                    <span class="mr-2">
                                        <em class="fas fa-circle text-danger"></em> Lost - {{ yesterday_losses }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Today's Trades</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                    <span class="mr-2">
                                        <em class="fas fa-circle text-success"></em> Won - {{ wins }}
                                    </span>
                                    <span class="mr-2">
                                        <em class="fas fa-circle text-danger"></em> Lost - {{ losses }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Monthly Trades</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie">
                                    <canvas id="monthlyPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                    <span class="mr-2">
                                        <em class="fas fa-circle text-success"></em> Won - {{ monthly_wins }}
                                    </span>
                                    <span class="mr-2">
                                        <em class="fas fa-circle text-danger"></em> Lost - {{ monthly_losses }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Content Row -->
                <div class="row">

                    <div class="card shadow mb-4 col">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Trade Database</h6>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Symbol</th>
                                        <th>Condition</th>
                                        <th>Right</th>
                                        <th># of Contracts</th>
                                        <th>Result</th>
                                        <th>Entry Time</th>
                                        <th>Exit Time</th>
                                    </tr>
                                    {% for signal in signals %}
                                    {% if signal[20] == "W" %}
                                        {% set row_class = "table-success" %}
                                    {% elif signal[20] == "P" %}
                                        {% set row_class = "table-light" %}
                                    {% else %}
                                        {% set row_class = "table-danger" %}
                                    {% endif %}
                                    <tr class="{{ row_class }}">
                                        <td>{{ signal[1] }}</td>
                                        <td>{{ signal[2] }}</td>
                                        <td>{{ signal[4] }}</td>
                                        <td>{{ signal[5] }}</td>
                                        <td>{{ signal[20] }}</td>
                                        <td>{{ signal[21] }}</td>
                                        <td>{{ signal[22] }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Retirement 2025</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
</div>

    {% block javascript %}
        <script>
            let pie_chart_data = JSON.parse({{ pie_chart_array | tojson }})
            var myPieChart = new Chart(myAreaChart, {
              type: 'doughnut',
              data: {
                labels: ["Won", "Lost", "Pending"],
                datasets: [{
                  data: pie_chart_data,
                  backgroundColor: ['#1CC88A', '#EC3120', '#90CFF8'],
                  hoverBackgroundColor: ['#17a673', '#B91305FF', '#146393'],
                  hoverBorderColor: "rgba(234, 236, 244, 1)"
                }],
              },
              options: {
                maintainAspectRatio: false,
                tooltips: {
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#858796",
                  borderColor: '#dddfeb',
                  borderWidth: 1,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: false,
                  caretPadding: 10,
                },
                legend: {
                  display: false
                },
                cutoutPercentage: 80,
              },
            });

            let yesterday_pie_chart_data = JSON.parse({{ yesterday_pie_chart_array | tojson }})
            var myPieChart = new Chart(yesterdayPieChart, {
              type: 'doughnut',
              data: {
                labels: ["Won", "Lost"],
                datasets: [{
                  data: yesterday_pie_chart_data,
                  backgroundColor: ['#1CC88A', '#EC3120'],
                  hoverBackgroundColor: ['#17a673', '#B91305FF'],
                  hoverBorderColor: "rgba(234, 236, 244, 1)"
                }],
              },
              options: {
                maintainAspectRatio: false,
                tooltips: {
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#858796",
                  borderColor: '#dddfeb',
                  borderWidth: 1,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: false,
                  caretPadding: 10,
                },
                legend: {
                  display: false
                },
                cutoutPercentage: 80,
              },
            });

            let monthly_pie_chart_array = JSON.parse({{ monthly_pie_chart_array | tojson }})
            var myPieChart = new Chart(monthlyPieChart, {
              type: 'doughnut',
              data: {
                labels: ["Won", "Lost"],
                datasets: [{
                  data: monthly_pie_chart_array,
                  backgroundColor: ['#1CC88A', '#EC3120'],
                  hoverBackgroundColor: ['#17a673', '#B91305FF'],
                  hoverBorderColor: "rgba(234, 236, 244, 1)"
                }],
              },
              options: {
                maintainAspectRatio: false,
                tooltips: {
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#858796",
                  borderColor: '#dddfeb',
                  borderWidth: 1,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: false,
                  caretPadding: 10,
                },
                legend: {
                  display: false
                },
                cutoutPercentage: 80,
              },
            });
        </script>
    {% endblock%}
{% endblock %}